@import "tailwindcss";

/**
 * 
 * 
 * background: '#004C54',
        text: '#A5ACAF',
        primary: '#ACC0C6',
        secondary: '#F59E0B',
        border: '#565A5C',
 */

 

@theme { 
  --breakingpoint-*: initial;
  --breakingpoint-sm: 480;
  --breakingpoint-md: 768;
  --breakingpoint-lg: 976;

  --color-midnight-green: #004C54;
  --color-silver-jersey: #A5ACAF;
  --color-silver-helmet: #ACC0C6;
  --color-charcoal: #565A5c;
  --color-blackk: #000000;
  --color-whitee: #FFFFFF;
  --color-section-color: #344648;
}

